In [2]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('../data/HSIWithIndicator.csv')

In [5]:
data['week_trend'] = np.where(data.close.shift(-5) > data.close, 1, 0)

In [8]:
data

,date,open,high,low,close,adj close,volume,MACD,RSI,TEMA,ADR,week_trend
0,2023-01-03,19570.429688,20212.550781,19303.730469,20145.289062,20145.289062,2286651100,0.000000,NaN,20145.289062,908.820312,1
1,2023-01-04,20319.980469,20793.109375,20233.390625,20793.109375,20793.109375,3015986300,14.534430,100.000000,20751.648875,908.820312,1
2,2023-01-05,21295.869141,21396.089844,20962.400391,21052.169922,21052.169922,2875372400,26.553201,100.000000,21052.421562,839.000000,1
3,2023-01-06,21220.890625,21282.710938,20862.769531,20991.640625,20991.640625,2754459500,29.183435,92.958969,21057.587321,743.973828,1
4,2023-01-09,21295.939453,21470.689453,21216.919922,21388.339844,21388.339844,2697924400,45.783855,95.296430,21342.246033,646.198047,1
...,...,...,...,...,...,...,...,...,...,...,...,...
238,2023-12-21,16455.140625,16649.570312,16444.730469,16621.130859,16621.130859,1404417200,-219.840944,45.176795,16642.317632,223.156445,0
239,2023-12-22,16743.060547,16857.839844,16271.500000,16340.410156,16340.410156,2197553900,-224.112474,40.053515,16444.070144,212.418359,0
240,2023-12-27,16561.779297,16673.570312,16439.259766,16624.839844,16624.839844,2228051300,-202.215579,46.654593,16556.393243,258.960156,0
241,2023-12-28,16678.230469,17086.099609,16644.429688,17043.529297,17043.529297,2301329400,-149.355713,54.582773,16902.371637,277.716406,0
242,2023-12-29,17066.519531,17095.119141,16950.900391,17047.390625,17047.390625,1570053000,-105.931202,54.649713,17049.744218,331.744141,0